
{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница курса по косметологии</title>
{% endblock %}

{% block content%}


<h1>Добро пожаловать на первый урок нашего курса по косметологии!</h1>
<br>
<br>
<h4>В этом уроке мы познакомимся с основами
    подбора процедур в зависимости от типа кожи.</h4>
<p>
<h6>Каждый тип кожи требует особого подхода, и правильный выбор
процедуры — это ключ к успешному уходу и достижению желаемых результатов.
    </p>
 <p>Существует несколько типов кожи: нормальная, сухая, жирная, комбинированная и чувствительная.
Каждому из них присущи свои особенности и потребности.</h6>
    </p>
<p><h6>Типы кожи:</h6> Существует несколько типов кожи: нормальная, сухая, жирная, комбинированная и чувствительная. Каждому из них присущи свои особенности и потребности.
    </p>
<p><h6>Нормальная кожа:</h6> Этот тип кожи имеет баланс между сухостью и жирностью. Она гладкая и эластичная, с минимальными недостатками. Для нормальной кожи подходят увлажняющие и питательные процедуры.
    </p>
<p><h6>Сухая кожа:</h6> Характеризуется чувством стянутости, шелушением и тусклым оттенком. Для сухой кожи необходимо использовать глубоко увлажняющие и питательные процедуры, чтобы восстановить уровень влаги и липидный барьер.
    </p>
<p><h6>Жирная кожа:</h6> Часто имеет блеск и склонна к высыпаниям. Для жирной кожи важны процедуры, которые контролируют выделение себума, очищают поры и предотвращают воспаления.
    </p>
<p><h6>Комбинированная кожа:</h6> Объединяет участки как сухой, так и жирной кожи. Требует комплексного ухода, направленного на балансирование различных участков лица.
    </p>
<p><h6>Чувствительная кожа:</h6> Легко раздражается, склонна к покраснениям и аллергическим реакциям. Для этого типа кожи подходят мягкие, успокаивающие процедуры, без агрессивных ингредиентов.

{% endblock %}